* {
    margin: 0px;
    padding: 0px;
}


/***************************************************************/
/*							Header							   */
/***************************************************************/
header {
    background-color: red;
    display: flex;
    height: 50px;
    margin-bottom: 100px;
}
#logo {
    width: 20%;
    display: flex; justify-content: center;
    align-items: center;
}
/*****************************/
/* 			Menu 			 */
.menu {
    width: 30%;
    display: flex;
    align-items: center;
}
.connexion {
    justify-content: flex-end;
}
ul {
    list-style: none;
    display: flex;
    align-items: baseline;
}
ul li {
    display: inline;
    padding: 0 10px 0 15px;
}
/******************************/
/*			Lien menu 		  */
li a {
    text-decoration: none;
    color: black;
}
li:hover a {
    color: white;
}
.active {
    text-decoration: underline;
}


/***************************************************************/
/*						    Conteneur						   */
/***************************************************************/
.conteneur {
    width: 60%;
    margin: 0 20% 45px 20%;
    padding: 10px 0 0 20px;
    border: 1px solid blue;
    display: flex; flex-direction: column;
}

/*************************/
/*          Test         */
/*************************/
.carousel { height: 300px; }
.presentation { height: 800px; }


/***************************************************************/
/*						    Formulaire						   */
/***************************************************************/
form {
    border: 1px solid green;
    padding: 15px 0 15px 10px;
    width: 250px;
}
label {
    display: block;
    margin-top: 5px;
}
textarea {
    resize: none;
}
input, textarea, select {
    width: 200px;
}
input[type=radio] {
    width: 15px;
}
.radio {
    display: inline;
    margin: 0 0 0 0;
}


/***************************************************************/
/*						    Preview Card					   */
/***************************************************************/
#create_card {
    display: flex; flex-direction: row;
}
#preview {
    border: 1px solid brown;
    padding: 20px 20px 20px 20px;
    width: 450px;
}
/***************************************************************/
/*						     Card							   */
/***************************************************************/
.card {
    /*Le ratio pour une carte est de 1.54*/
    width: 300px;
    height: 462px;
    border: 1px solid black;
    /*background-image: url('card.png');*/
}
.textzone {
    width: 260px;
    height: 422px;
    margin: 20px;
    position: relative;
}
.title {
    padding-top: 20px;
    text-align: center;
    width: 180px; margin-left: 40px;
    font-size: 24px;
}
.description {
    margin: auto;
    margin-bottom: -5px;
    width: 250px;
    text-align: center;
    border: 1px solid grey;
}
.img_card {
    width: 250px; max-height: 220px;
    margin-left: 5px;
}
.info { position: absolute; }
#bonus2 {
    right: 0px;
}
.right-bottom {
    bottom: 1px;
    right: 2px;
}
.left-bottom {
    bottom: 1px;
    left: 2px;
}