* { margin: 0px; padding: 0px; }
html, body { height: 100%; }
/***************************************************************/
/*							Header							   */
/***************************************************************/
header {
    background-color: #9e7344;
    overflow: hidden;
    display: flex;
    height: 50px;
    box-shadow: 2px 4px 8px -6px black;
}
#logo {
    width: 20%;
    display: flex; justify-content: center;
    align-items: center;
}
/*****************************/
/* 			Menu 			 */
#menu1 {
    width: 40%;
}
#menu2 {
    width: 20%;
}
.menu {
    display: flex;
    align-items: center;
}
.connexion {
    justify-content: flex-end;
}
ul {
    list-style: none;
    display: flex;
    align-items: baseline;
}
ul li {
    display: inline;
    padding: 0 10px 0 15px;
}
/******************************/
/*			Lien menu 		  */
.menu-header a {
    padding: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    background-color: #9e7344;
}
.menu-header a:hover {
    transition: 0.1s;
    background-color: #5a5754;
    /*box-shadow: inset 9px 0 8px -10px #000000, inset -9px 0 8px -10px #000000;
    color: #194169;*/
}
/******************************/
/*		button account 		  */
.menu-account {
    color: white;
    text-decoration: none;
    background-color: #5a5754;
}
.menu-account:hover {
    transition: 0.3s;
    text-decoration: none;
    background-color: white;
    color: #5a5754;
}
.btn-register {
    padding: 5px 15px 7px 10px;
    border-radius: 0px 24px 24px 0px;
}
.btn-login {
    padding: 5px 10px 7px 15px;
    border-radius: 24px 0px 0px 24px;
    border-right: 1px solid white;
}
.btn-logout {
    padding: 5px 15px 7px 15px;
    border-radius: 24px;
}
/*********************************************/
ul li {
    padding: 0px;
}

/******************************/
/*			Connexion 		  */
.menu-login {
    color: #5a5754;
    background-color: #f8f8f8;
    padding: 6px 15px 6px 15px;
    border-radius: 30px;
    text-decoration: none;
}
/***************************************************************/
/*						Login/Register						   */
/***************************************************************/
.popup {
    display: none;
    border: 1px solid #e7e7e7;
    border-radius: 7px;
    background-color: #f8f8f8;
    padding: 30px 50px 0px 50px;
    box-shadow: 2px 4px 11px -6px black;
    z-index: 2;
}
.close {
    position: absolute;
    right: 1px;
    top: -2px;
    transform: rotate(45deg) scale(1.5);
}
.closebis:hover a {
    transition: 0.3s;
    transform: rotate(45deg) scale(1.3);
    color: white !important;
}
.closebis {
    width: 28px;
    height: 28px;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 6px;
}
.closebis:hover {
    transition: 0.3s;
    background-color: grey;
}
.error-input {
    color: red;
    font-size: 12px;
}
#login {
    width: 420px;
    height: 380px;
    position: absolute;
    left: calc((100% - 420px)/2);
    top: calc((100% - 380px)/2);
}
#register {
    width: 420px;
    height: 560px;
    position: absolute;
    left: calc((100% - 420px)/2);
    top: calc((100% - 560px)/2);
}
/****************************************************/
/*                      Block Page                  */
/****************************************************/
.conteneur {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-bottom: 50px;
    color: #9e7344;
    box-shadow: 0px 3px 6px 0px grey;
}
/****************************************************/
.center-contenu {
    width: 400px;
    margin: auto;
}
.carousel {
    background-image: url("/img/carousel.jpg");
    background-size: cover;
    height: 390px;
}