/***************************************************************/
/*						    Admin Menu						   */
/***************************************************************/
/*          Conteneur           */
/********************************/
#conteneur {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
}
#window {
    width: calc(100% - 340px); /* 340px is width of .admin (menu) */
}
/*          Menu admin          */
/********************************/
.admin {
    display: flex; flex-direction: column;
    width: 340px;
    height: 100%;
    border-right: 1px solid black;
    background-color: #302f30;
}
.admin ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.admin h3 {
    color: aliceblue;
    font-size: 26px;
    padding: 10px 0 10px 35px;
    border-bottom: 1px solid white;
}
.admin li {
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid grey;
}
.admin li:hover {
    color: darkred;
    background-color: grey;
}
.admin li a {
    margin-left: 45px;
}
/***************************************************************/
/*						    Admin Page						   */
/***************************************************************/
.head_window {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 5px -4px #9C9C9C;
}
/*          Form style          */
/********************************/
#formulaire {
    width: 400px;
}