* {
	margin: 0px;
	padding: 0px;
}


/***************************************************************/
/*							Header							   */
/***************************************************************/
header {
	background-color: red;
	display: flex;
	height: 50px;
	margin-bottom: 100px;
}
#logo {
	width: 20%;
	display: flex; justify-content: center;
	align-items: center;
}
/*****************************/
/* 			Menu 			 */
.menu {
	width: 30%;
	display: flex;
	align-items: center;
}
.connexion {
	justify-content: flex-end;
}
ul {
	list-style: none;
	display: flex;
	align-items: baseline;
}
ul li {
	display: inline;
	padding: 0 10px 0 15px;
}
/******************************/
/*			Lien menu 		  */
li a {
	text-decoration: none;
	color: black;
}
li:hover a {
	color: white;
}
.active {
	text-decoration: underline;
}


/***************************************************************/
/*						    Conteneur						   */
/***************************************************************/
.conteneur {
	width: 60%;
	margin: 0 20% 45px 20%;
	padding: 10px 0 0 20px;
	border: 1px solid blue;
	display: flex;
}

/*************************/
/*          Test         */
/*************************/
.carousel { height: 300px; }
.presentation { height: 600px; }